<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <title>Projeto Programador!</title>
</head>

<body>
  <div class="container">

    <div class="row">
      <h1 class="display-4">Projeto Programador</h1>
      <p class="lead">
        Seja bem vindo ao projeto <strong>Programador</strong>!
        Me chamo <strong>Erlimar</strong>, sou <strong>programador</strong>,
        e pretendo te ensinar a programar computadores.
      </p>
    </div>

    <div class="row">
      <h3>Quem pode participar desse projeto?</h3>
      <p class="lead">
        Este projeto é destinado a pessoas que ainda não sabem programar, mas nada impede
        que programadores possam acompanhar para reciclar seu aprendizado.
      </p>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-12 col-md-6 mt-4">
          <div class="card border-primary text-write">
            <img src="static/img/facebook-page.webp" class="card-img-top" alt="...">
            <h5 class="card-header bg-primary text-white">Página no Facebook</h5>
            <div class="card-body text-primary">
              <p class="card-text">
                Nossa <strong>Página no Facebook</strong> é o local onde você acompanha as
                postagens de acordo com que elas são disponibilizadas, e interage
                conosco diretamente. Pedimos que compartilhe nosso
                material com outros que também desejam aprender programação.
              </p>
              <a href="https://www.facebook.com/ErlimarProgramador" target="_blank" class="btn btn-primary">Acesse a
                página aqui</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mt-4">
          <div class="card border-danger">
            <img src="static/img/youtube-channel.png" class="card-img-top" alt="...">
            <h5 class="card-header bg-danger text-white">Canal no YouTube</h5>
            <div class="card-body text-danger">
              <p class="card-text">
                Temos o <strong>Canal no YouTube</strong> onde todos nossos vídeos são publicados
                e é também onde preparamos os vídeos em <strong>Playlists</strong> mais organizadas
                para que você possa acompanhar o curso em uma ordem lógica mesmo depois de muito
                tempo do curso já gravado.
              </p>
              <a href="https://www.youtube.com/channel/UC7COzGH2_ouaeAoqm7drxRQ" target="_blank"
                class="btn btn-danger">Acesse o canal aqui</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h3>Como funciona o curso?</h3>
      <p class="lead"><strong>Primeiro:</strong> Você deve assistir a todos os vídeos introdutórios:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          <h5>Conheça o projeto</h5>
          <small>alsdjflasjdflkjs dfkj adlkf jlasdjf</small>
        </li>
        <li class="list-group-item">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          Qual será a dinâmica do curso?
        </li>
        <li class="list-group-item">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          O que faz um programador?
        </li>
        <li class="list-group-item">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          Veja um programa sendo criado do início ao fim
        </li>
        <li class="list-group-item">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          Monte seu ambiente
        </li>
        <li class="list-group-item">
          <img style="width:120px"
            src="https://image.shutterstock.com/image-vector/youtube-web-video-player-modern-260nw-496985899.jpg"
            class="img-thumbnail">
          Se inscreva no curso
        </li>
      </ul>

      <p class="lead mt-4">
        <strong>Depois:</strong>
        Se você assistiu todas as aulas introdutórias, saberá o que fazer com o comando abaixo.
      </p>

      <div class="alert bg-dark">
        <code class="text-white">
          $ pip install --user <var>http://programador.erlimar.com/static/download/cli.zip</var>
        </code>
      </div>
      <span class="badge badge-warning">
        Se você não sabe o que fazer com o comando acima, assista a todos os vídeos introdutórios!
      </span>
    </div>
  </div>
  </div>

  <hr />
  <p class="text-muted text-center">Copyright (c) 2020 Erlimar Silva Campos</p>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>