<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <title>Projeto Programador!</title>
</head>

<body>
  
  <div class="container">
    <h1 class="display-4">Projeto Programador</h1>
    <p class="lead">
      Seja bem vindo ao projeto <strong>Programador</strong>!
      Me chamo <strong>Erlimar</strong>, sou <strong>programador</strong>,
      e pretendo te ensinar a programar computadores.
    </p>

    <h3>Quem pode participar desse projeto?</h3>
    <p class="lead">
      Este projeto é destinado a pessoas que ainda não sabem programar, mas nada impede
      que programadores possam acompanhar para reciclar seu aprendizado.
    </p>

    <div class="row">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card border-primary m-3">
            <img src="static/img/facebook-page.webp" class="card-img-top" alt="...">
            <h5 class="card-header bg-primary text-white">Página no Facebook</h5>
            <div class="card-body text-primary">
              <p class="card-text">
                Este é o local onde você acompanha as
                postagens de acordo com que elas são disponibilizadas, e interage
                conosco diretamente. Pedimos que compartilhe nosso
                material com outros que também desejam aprender programação.
              </p>
              <a href="https://www.facebook.com/ErlimarProgramador" target="_blank" class="btn btn-primary">Acesse a
                página aqui</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="card border-danger m-3">
            <img src="static/img/youtube-channel.png" class="card-img-top" alt="...">
            <h5 class="card-header bg-danger text-white">Canal no YouTube</h5>
            <div class="card-body text-danger">
              <p class="card-text">
                Aqui é onde todos nossos vídeos são publicados
                e é também onde preparamos os vídeos em <strong>Playlists</strong> mais organizadas
                para que você possa acompanhar o curso em uma ordem lógica mesmo depois de muito
                tempo do curso já gravado.
              </p>
              <a href="https://www.youtube.com/channel/UC7COzGH2_ouaeAoqm7drxRQ" target="_blank"
                class="btn btn-danger">Acesse o canal aqui</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h3>Como funciona o curso?</h3>
      <p>
        Simples, o curso é em vídeo, então você só tem que assistir aos vídeos na sequência em que eles
        são publicados. Tá legal! Na verdade não é só assistir aos vídeos, você também terá que praticar o
        que os vídeos vão te ensinar se não você não aprenderá nada.
      </p>
      <p class="alert alert-info">
        Quero aproveitar pra dizer uma coisa: <i>O curso não é mais um curso de programação em alguma linguagem.
          O que pretendo aqui é te ensinar a programar, e isso só será possível se ao final você realmente conseguir
          programar. Pra isso, mais importante que você assistir aos vídeos (que convenhamos, temos muitos outros
          disponíveis na Internet) é você praticar o que vou te ensinar. Então espero que além de você assistir aos
          vídeos e praticar o que vamos ensinar, quero que você aprenda a falar comigo; seja via comentários nos
          vídeos ou através de lives que vamos fazer.</i>
      </p>
      <p class="lead"><strong>Primeiro:</strong> Você deve assistir a todos os vídeos introdutórios:</p>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 p-2">
            <div class="row">
              <div class="col-5 d-none d-md-block">
                <img class="img-thumbnail" src="static/img/youtube-player1.jpg" />
              </div>
              <div class="col-12 col-md-7">
                <h3 class="text-uppercase">
                  <span class="badge badge-dark"># 1</span>
                  O Projeto
                </h3>
                <p class="text-muted">
                  Nesse vídeo eu tento explicar mais detalhadamente sobre o projeto
                  e como ele pode te ajudar a aprender programação
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 p-2">
            <div class="row">
              <div class="col-5 d-none d-md-block">
                <img class="img-thumbnail" src="static/img/youtube-player1.jpg" />
              </div>
              <div class="col-12 col-md-7">
                <h3 class="text-uppercase">
                  <span class="badge badge-dark"># 2</span>
                  A Ferramenta
                </h3>
                <p class="text-muted">
                  Aqui vamos conhecer e instalar as ferramentas necessárias para conseguir
                  acompanhar o curso e executar as atividades.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 p-2">
            <div class="row">
              <div class="col-5 d-none d-md-block">
                <img class="img-thumbnail" src="static/img/youtube-player2.jpg" />
              </div>
              <div class="col-12 col-md-7">
                <h3 class="text-uppercase">
                  <span class="badge badge-dark"># 3</span>
                  O Poder
                </h3>
                <p class="text-muted">
                  Veja um programa útil sendo escrito na prática. Ainda que o foco não seja
                  você aprender a criar o tal programa, você verá como é poderoso saber programar.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 p-2">
            <div class="row">
              <div class="col-5 d-none d-md-block">
                <img class="img-thumbnail" src="static/img/youtube-player1.jpg" />
              </div>
              <div class="col-12 col-md-7">
                <h3 class="text-uppercase">
                  <span class="badge badge-dark"># 4</span>
                  Você
                </h3>
                <p class="text-muted">
                  Por mais que criemos o melhor curso do mundo, ele não servirá de nada se
                  você não quiser aprender. Se não dedicar atenção suficiente você não
                  aprende nem que queiramos ensinar.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 p-2">
            <div class="row">
              <div class="col-5 d-none d-md-block">
                <img class="img-thumbnail" src="static/img/youtube-player1.jpg" />
              </div>
              <div class="col-12 col-md-7">
                <h3 class="text-uppercase">
                  <span class="badge badge-dark"># 5</span>
                  Eu e você programador
                </h3>
                <p class="text-muted">
                  Entenda como eu sendo um programador, posso ajudar você a aprender programação.
                  Ou seja, daqui em diante é eu e você como programadores aprendendo juntos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="lead mt-4">
        <strong>Depois:</strong>
        Se você assistiu todas as aulas introdutórias, saberá o que fazer com o comando abaixo.
      </p>

      <div class="alert bg-dark">
        <code class="text-white">
          $ pip install <var>http://programador.erlimar.com/static/download/programador-0.1.zip</var>
        </code>
      </div>
      <div class="alert alert-warning">
        Se você não sabe o que fazer com o comando acima, assista a todos os vídeos introdutórios!
      </div>
    </div>
    
    <hr />
    <p class="text-muted text-center">Copyright (c) 2020 Erlimar Silva Campos</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
